body {
  padding-top: 40px;
  height: 1500px;
}

h3 {
  position: relative;
}

h3 span {
  position: absolute;
  top: -50px;
}

.about {
  background-color: yellow;
}

.portfolio {
  background-color: red;
}

.contact {
  background-color: green;
}
